.linkul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.linkli {
  float: left;
}

.navbar {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

a:link {
  background-color: yellow;
}

.article{
  background-color: grey;
  font-size: 18px;
}

.boldSize {
  font-size: 24px ;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}